GCP_PROJECT=your-gcp-project-id
GCS_BUCKET=your-unique-binance-lake-bucket
BQ_DATASET=binance_analytics
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/gcp-key.json
AIRFLOW__WEBSERVER__SECRET_KEY=<paste-the-output-here>'